@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --color1:#61892F;
    --color2:#86C232;
    --color3:#222629;
    --color4:#474B4F;
    --color5:#6B6E70;
    --extraColor:#EAFC40;
    --letterMenu:#fff;
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}
body{
    overflow: hidden;
}
/* * * * * * * * * */
/* * * * * * * * * */
/* Navbar Section */
nav{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    min-height: 8vh;
    background-color:var(--color3);   
}
.logo{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--color1);
}
.hampurila{
    cursor: pointer;
    z-index: 10;
}
.hampurila div{ 
    height: 2px;
    width: 25px;
    background-color: var(--letterMenu);
    margin: 5px;
    transition: all 0.3s ease;
}
.navOptions{
    position: absolute;
    right: 0px;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    background-color:var(--color3);
    align-items: center;
    justify-content: space-around;
    transition: transform  0.4s ease-in ;
    z-index: 5;
}
.navOptions a{
    color: var(--letterMenu);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}
/* * */
/* This area controls de side menu */
.nav-active{
    transform: translateX(0%);
}
/* * */
/* This area controls the hover animation on the menu */
/* * */
.navOptions a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: var(--letterMenu);
    z-index: 3;
    transition: 0.5s ease;
}
.navOptions li:hover a::after {
    transform: translate(-50%,-50%) scale(2);
    letter-spacing: 0.5rem;
}
/* * */
/* This area creates a close logo  */
/* * */
.closelogo .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.closelogo .line2{
    opacity: 0;
}
.closelogo .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
/* * */
/* End of Navbar Section */
/* * * * * * * * * */
/* * * * * * * * * */

