html {
    overflow-x: hidden;
    font-size: 1rem;
}

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: rgb(219, 199, 87);
    width: 70px;
    height: 70px;
    z-index: 100;
    color: #5A7684;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.navbar {
    background-color: rgb(219, 199, 87);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav a {
    border-radius: 7px;
    color: rgb(51, 51, 51);
    text-align: center;
    transition: 0.6s ease-in;
    font-size: 20px;
    font-weight: bolder;
    padding: 13px 10px;
}

.navbar-nav a:focus {
    color: rgb(219, 199, 87);
}

.navbar-nav a:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(219, 199, 87)
}


.welcomeBanner {
    font-weight: 600;
    font-size: 120px;
    color: #dbc757;
}

.About {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.Tname {
    font-size: 50px;
}

.socialLinks {
    margin-top: 30px;
    margin: 0;
    padding: 0
}

.socialLinks li {
    float: left;
    list-style-type: none;
}

.socialLinks a {
    color: #dbc757;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 650;
    text-decoration: none
}

.socialLinks li a:hover {
    color: #5A7684
}

.socialLinks li::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 1px;
    background: #5A7684
}

.socialLinks li:last-child::after {
    display: none
}

.dcvbtn {
    margin-top: 20px;
    border-radius: 6px;
    color: rgb(51, 51, 51);
    background-color: rgb(219, 199, 87);
    border: none;
    text-align: center;
    transition: 0.6s ease;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 10px;
}
.dcvbtn a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.dcvbtn a:focus {
    color: #f5f5f5;
    outline: none;
    box-shadow: none;
}

.dcvbtn:hover {
    background-color: #1a9df1;
}

.skillset {
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.progress {
    margin-top: 25px;
}

.progress-bar {
    background-color: #1a9df1;
}

.carouselText {
    letter-spacing: 0.25px;
    font-size: large;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer {
    background-color: #f5f5f5
}

.pgprah {
    color: #5A7684;
    font-weight: light;
    text-justify: inter-cluster;
    font-size: 18px;
}

@media (max-width: 916px) and (min-width: 600px) and (max-height: 600px){ 
    .welcomeBanner {
    font-size: 60px;
    }    
    .pgprah{
        font-size: 14px;
    }
    .highlight{
        font-size: 18px;
        font-weight:600;
    }
}


@media (max-width:575px) {
    .navbar {
        background-color: rgb(219, 199, 87);
    }
    .navbar-nav a {
        color: rgb(51, 51, 51)
    }
    .navbar-nav a:hover {
        color: rgb(219, 199, 87)
    }
    .welcomeBanner {
        font-weight: 400;
        font-size: 90px;
    }
    .invisible {
        visibility: hidden;
    }
    .Tname {
        font-size: 30px;
    }
}

@media (pointer: coarse) and (hover: none) {
    header {
      background: url("./resources/background.jpg") black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
}