@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root {
    --font: rgb(219, 199, 87);
    --yellowTransparency: rgb(219, 199, 87, 0.8);
    --bgColor: rgb(27, 30, 28);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}
/* This containiner will give format to areas*/
html{
    background-color: var(--color3);
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

span{color:var(--color2);}

.noscroll{
    overflow: hidden;
    position: fixed;
}
/* * */
/* * */
/* * */
/* Nav bar */
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 111;
}
.nav a{
    color: var(--font);
    float: right;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 2rem;
}

.nav a:hover {
    transition: .7s ease;
    background-color:var(--font);
    color: black;
}
/* End of nav bar*/
/* * */
/* * */
/* * */
/* * */
/* * */
/* landing page */
#landingPage{
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
#landingPage:before {
    content: '';
    position: absolute;
    background: rgb(31, 31, 31,0.39);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lp{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    align-self: center;
}
.lp h1{
    color:var(--font);
    display: block;
    width: fit-content;
    font-size: 10rem;
    font-weight: bold;
}
#introText{
    z-index: 10;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* This area is for the annimation of the _____ button PENDING TO NAME IT*/
 .cta{
    display: inline-block;
    padding: 10px 30px;
    color:var(--font);
    background-color: white;
    border: 2px solid --bgColor;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-decoration: none;
    border-radius: 10px;
}
.cta:hover{
    color: white;
    background-color:var(--bgColor);
}
/* End of landing page */
/* * */
/* * */
/* * */
/* * */
/* * */
/* Section 1 */
#section1 {
    scroll-snap-align: start;
    background-color: var(--bgColor);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.description{
    background-color:var(--yellowTransparency);
    display: flex;
    width: 30%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}
.description p, h2{
    color: var(--bgColor);
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0.17rem;
    line-height: 1.8;
}

.box1{
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description h2{
    font-size: 3rem;
}
.description img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.personalcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: blueviolet;
}
/* .card{
	width: 450px;
	background-color: var(--font);
	padding:40px;
	text-align: center;
	margin:auto;
	color: var(--letterMenu);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card h1{
	font-size: 4rem;
	letter-spacing: 0.2rem;
	font-weight: normal;
}
.card h2{
	font-size: 3rem;
	letter-spacing: 0.3rem;
	font-weight: lighter;
}
.card p{
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
} */



  
#section2 {
    padding-top: 50px;
    height: 100vh;
    background-color: var(--font);
    scroll-snap-align: start;
  }
/* End of */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* Footer */
#footer{
    width: 100%;
    background-color: var(--font);
    padding: 20px 15px;
    scroll-snap-align: start;
}
.footerLeft, .footerCenter, .footerRight{
    display: inline-block;
    vertical-align: top;
}
.footerLeft h1{
    color: var(--letterMenu);
    font-size: 3.6rem;
    font-weight: 300;
}
.footerLeft h1 span{
    color: var(--color4);
}
.footerlinks{
    color: var(--letterMenu);
    margin: 20px 0 12px;
    padding: 0;
    font-size: 2rem;
}
.footerlinks a{
    display: inline-block;
    line-height: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    margin-right: 8px;
    transition: .1s ease;
    transition-property: background-color, color;
    
}
.footerlinks a:hover{
    color: var(--color4);
}
.footerlinks a:before{
    content:'|';
    font-weight: normal;
    font-size: 2rem;
    color: white;
    display: inline-block;
    padding-right: 5px;
}
.footerlinks .linktoDelete:before{
    content:none;
} 
.copyright{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    color: var(--color4);
}
/* End of Footer */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
/* * */
