.cta{
    display: inline-block;
    padding: 10px 30px;
    color:var(--color2);
    background-color: transparent;
    border: 2px solid var(--color2);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-decoration: none;
}
.cta:hover{
    color: white;
    background-color:var(--color2);
}